<!-- content-section-starts -->
	<div class="container">
	   <div class="products-page">
			<div class="products">
				<div class="product-listy">
					<h2>{{=T('Nos Produits')}}</h2>
					<ul class="product-list">
						<li><a href="{{=(URL('default', 'caftan_en_location'))}}">{{=T('Caftan en location')}}</a></li>
						<li><a href="{{=(URL('default', 'caftan_en_vente'))}}">{{=T('Caftan en vente')}}</a></li>
						<li><a href="{{=(URL('default', 'djelleba'))}}">{{=T('Caftan Grande taille Vente')}}</a></li>
						<li><a <a href="{{=(URL('default', 'Guandoura'))}}">{{=T('Caftan Grande taille En Location')}}</a></li>
						<li><a href="register.html">{{=T('Inscription')}}</a></li>
					</ul>
				</div>
